<h1><%= @core.name %></h1>

<h3>Means</h3>
<ul>
  <% @core.means.each do |mean| %>
    <li><%= mean.value %></li>
  <% end %>
</ul>

<h3>Variances</h3>
<ul>
  <% @core.variances.each do |variance| %>
    <li><%= variance.value %></li>
  <% end %>
</ul>
