<h1><%= @core.name %></h1>

<%= line_chart [
  {
    name: "Mean",
    data: @core.means[1..-1].inject({}) do |hash, measurement|
      hash.merge(measurement.created_at => measurement.value)
    end
  },
  {
    name: "Variance",
    data: @core.variances[1..-1].inject({}) do |hash, measurement|
      hash.merge(measurement.created_at => measurement.value)
    end
  } ]
%>

<hr>

<%= line_chart [
  {
    name: "Mean",
    data: @core.means.inject({}) do |hash, measurement|
      hash.merge(measurement.created_at => measurement.value)
    end
  } ]
%>

<%= line_chart [
  {
    name: "Variance",
    data: @core.variances.inject({}) do |hash, measurement|
      hash.merge(measurement.created_at => measurement.value)
    end
  } ]
%>
